@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Library.Models.Book
<h2>Видалення книги</h2>
<dl>
    <dt>Назва</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>Автор</dt>
    <dd>
        @Html.DisplayFor(model => model.Author)
    </dd>
    <dt>Ціна</dt>
    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>
</dl>
@using (Html.BeginForm())
{
    <input type="submit" value="Видалити" />
}
