body {
    font-size: 13px;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    background-color: #fff;
    padding-left:40px;
}
   
nav{
    display: block;
}
a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #8797ff;
    padding: 5px 10px;
    border-radius: 10px;
}
.menu {
    padding-left:10px;
}
ul {
    list-style:none;
}
li {
    display:inline;
}
a:hover {
    color:red;
}
table {
   vertical-align:middle;
   text-align:left; 
 }

.header {
    font-weight:bold;
}

td {
    padding-right:10px;
 }

tr {
    border: 3px solid #8797ff;
    border-radius: 10px;
    display: block;
    margin: 5px;
    background-color: #e1e5ff;
    padding: 10px;
}
input {
    width: 150px;
}
p {
    margin: 3px 0;
    font-size: 16px;
    width: 100px;
}